<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partial/head") %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/restaurants.css" />
    <link rel="stylesheet" href="styles/recommend.css" />
    <script src="/scripts/responsive.js" defer></script>
  </head>

  <body>
    <%-include("partial/header")%> <%-include("partial/aside")%>
    <main>
      <h1>Something Wrong</h1>
      <ul id="restaurants-list">
        <li class="restaurant-item">
          <article>
            <div class="restaurant-meta">
              <p>ERROR Server</p>
            </div>
          </article>
        </li>
      </ul>
    </main>
  </body>
</html>
